

.navbar-brand{
  padding-left: 40px;
}

.navbar-nav > li{
  padding-left:50px;
  padding-right:50px;
} 

#navbar-example3{
  float: left;
}

.content {
  /* position: fixed; */
  /* bottom: 0; */
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  margin-top: -10px;
}